:root {
    --darkwhite: #f7f8f9;
    --blue: #94B6D2;
    --darkblue: #122433;
    --gray: #314352;
    --beige: #D1C092;
}

#CV {
    margin: 2rem;
    display: grid;
    grid-template-columns: 1fr;
}

h1 {
    font-size: 2rem; 
    text-align: center; 
    color: var(--darkblue); 
    position: relative; 
    padding-bottom: 1rem; 
    margin-bottom: 1.8rem; 
}

h1::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    
    width: 8rem;
    height: 0.2rem;
    background-color: var(--blue);
}

h2 {
    font-size: 1.5rem;
    padding: 0.8125rem 0 0.3125rem;
}

h3 {
    padding: 1.3125rem 0 0.3125rem;
}

hr {
    margin: 3rem;
}

img {
    width: 80vw;
    margin-top: 1.5rem;
    margin-left: calc(3.5vw - 1rem);
}

#referenser {
    margin-top: 3rem;
}

@media (min-width: 640px) {
    #CV {
        text-align: center;
    }
    
    img {
        width: 50vw;
    }

    #utbildningarContent {
        display: grid;
        grid-gap: 1.5rem;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "nti nti-img"
            "iesj iesj-img"
            "iesk iesk-img";
        align-items: center;
        margin-bottom: 6rem;
    }

    #NTI {
        grid-area: nti;
    }

    #IESJ {
        grid-area: iesj;
    }

    #IESK {
        grid-area: iesk;
    }

    #NTI-img {
        grid-area: nti-img;
    }

    #IESJ-img {
        grid-area: iesj-img;
    }

    #IESK-img {
        grid-area: iesk-img;
    }

    hr {
        display: none;
    }
}